[tool.poetry]
name = "{{cookiecutter.project_name}}"
version = "0.1.0"
description = ""
authors = ["{{cookiecutter.author}} <{{cookiecutter.email}}>"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dependencies]
python = "^{{cookiecutter.python_version}}"

[tool.poetry.dev-dependencies]
blue = "*"
mypy = "*"
pip-audit = "*"
pytest = "*"
pytest-cov = "*"
ruff = "*"

[tool.blue]
line-length = {{cookiecutter.line_length}}

[tool.pytest.ini_options]
filterwarnings = ["ignore::DeprecationWarning"]

[tool.mypy]
ignore_missing_imports = true
disallow_untyped_defs = true

[tool.ruff]
line-length = {{cookiecutter.line_length}}
select = ["A", "ARG", "B", "C", "C4", "E", "ERA", "F", "I", "N", "PLC", "PLE", "PLR", "PLW", "RET", "S", "T10", "T10", "UP", "W"]
per-file-ignores = { "__init__.py" = ["F401"], "test*.py" = ["S101"] }
target-version = "py{{cookiecutter.python_version.replace('.', '')}}"
