name: Test Template Instantiation

on: [push]

jobs:

    test_template:
        runs-on: [ubuntu-latest, windows-latest, macos-latest]
        steps:

            - name: Check out repository
              uses: actions/checkout@v5

            - name: Install uv
              uses: astral-sh/setup-uv@v6
              with:
                  version: "0.9.8"
                  enable-cache: true

            - name: Set up python
              uses: actions/setup-python@v6
              with:
                  python-version-file: "pyproject.toml"

            - name: Test
              run: make test
