name: Test Template Instantiation

on: [push]

jobs:

  test_template:
    runs-on: ubuntu-latest
    strategy:
        matrix:
            vcs: [hg, git]
    steps:

        - name: Check out repository
          uses: actions/checkout@v5

        - name: Set up python
          uses: actions/setup-python@v6
          with:
              python-version-file: 'pyproject.toml'

        - name: Install uv
          uses: astral-sh/setup-uv@v6
          with:
              version: "0.9.8"
              enable-cache: true

        - name: Install dependencies
          run: uv sync --locked --no-install-project

        - name: Test
          run: uv run make test
          env:
              VCS: ${{ matrix.vcs }}

        - name: Minimize uv cache
          run: uv cache prune --ci
